= content_for :header do
  %h1 Welcome to #{active_league.name}!

%h2 Players
%ul
  - active_league.players.each do |p|
    %li= link_to p.name.titleize, p

%h2 Matches
%table.characters
  %tr
    %th
    - Character.all.each do |c|
      %th= link_to image_tag("character-icons/#{c.name.downcase}.png", :class => 'thumbnail'), c
  - Character.all.reverse.each do |c1|
    %tr
      %th= link_to image_tag("character-icons/#{c1.name.downcase}.png", :class => 'thumbnail'), c1
      -Character.all.each do |c2|
        %td{:style => "background-color: #{wins_color(c1,c2)}"}
          .total-matches.no-hover= link_to c1.matches_against(c2).size.to_s, character_versus_path(c1, c2)
          .win-loss.hover=link_to win_loss(c1,c2), character_versus_path(c1, c2)
  %tr
    %th
    - Character.all.each do |c|
      %th= link_to image_tag("character-icons/#{c.name.downcase}.png", :class => 'thumbnail'), c