= content_for :header do
  %h1 Welcome to #{active_league.name}!
%h2 Matches
%table.guide
  %tr
  - ([Character.first] + Character.all).each do |c|
    %td= link_to image_tag("character-icons/#{c.name.downcase}.png", :class => 'thumbnail'), c
%table.characters
  %tr.guide-anchor
    %th
    - Character.all.each do |c|
      %th= link_to image_tag("character-icons/#{c.name.downcase}.png", :class => 'thumbnail'), c
  - Character.all.reverse.each do |c1|
    %tr
      %th= link_to image_tag("character-icons/#{c1.name.downcase}.png", :class => 'thumbnail'), c1
      -Character.all.each do |c2|
        %td{:style => "background-color: #{wins_color(c1,c2)}", :path => versus_character_path(c1,c2)}

:javascript
  $(function() {
    $('table.characters td').on('click', function() {
      window.location = $(this).attr('path');
    })
  
    var $guide = $('.guide')
    $('.guide-anchor').waypoint(function(event, direction) {
      if (direction == 'down') {
        $guide.show();
        console.log("hello")
      } else {
        $guide.hide();
        console.log("world")
      }
    })
  })