= content_for :header do
  %h1 Welcome to Battlecon!
.column
  =character_image_tag Character.find(rand(Character.count)+1)
.column.register
  .box.centered
    %h2 Login
    = form_tag do
      = label_tag :name
      = text_field_tag :name
      %br
      = label_tag :password
      = password_field_tag :password
      %br
      = submit_tag "Login"
  .box.centered
    %h2 Register
    = form_for(@player) do |f|
      %p
        = f.label :name
        = f.text_field :name
      %p
        = f.label :password
        = f.password_field :password
      %p
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      %p
        = submit_tag "Register"