= content_for :header do
  %h1= @character.name.titleize
%table.characters
  - Character.all.each do |c|
    = link_to image_tag("character-icons/#{c.name.downcase}.png", :class => 'thumbnail draggable', :characterId => c.id), c
.column
  = image_tag("character-icons/#{@character.name}.png", :class => "portrait droppable", :id => "char-drop-one")
  = image_tag("character-icons/blank.png", :class => "portrait droppable", :id => "char-drop-two")
  :javascript 
    $(function() {
      $('.draggable').draggable({
        zIndex: 2000, 
        helper:"clone"
      });
      $('#char-drop-two').droppable({
        drop: function( event, ui ) {
          var characterId = $(ui.draggable.get(0)).attr('characterId');
          window.location = '#{versus_character_path(@character.id,"'+characterId+'")}'
        }
      })
      $('#char-drop-one').droppable({
        drop: function( event, ui ) {
          var characterId = $(ui.draggable.get(0)).attr('characterId');
          window.location = '#{character_path("'+characterId+'")}'
        }
      })
    })
.column

  - if active_league
    .box
      %h2 Statistics
      %table.stats
        %tr
          %th Win Rate:
          - if @character.matches.where(:league_id => active_league.id).count > 0
            %td= (@character.wins.where(:league_id => active_league.id).count * 100.0 / @character.matches.where(:league_id => active_league.id).count).to_i
          - else
            %td No matches played.
        %tr
          %th Best Matchup:
          - if @character.wins.where(:league_id => active_league.id).count > 0
            %td= @character.best_matchup(active_league).name.titleize
          - else
            %td No wins yet.
        %tr
          %th Strategy Guide:
          - if @character.link
            %td= link_to "Strategy Guide", @character.link
          - else
            %td N/A
    - if @character.matches.where(:league_id => active_league.id).any?
      .box
        %h2 Recent Matches
        %ul
          - @character.matches.where(:league_id => active_league.id).recent.each do |match|
            %li= character_match_link @character, match
  - if @character.strategies.any?
    .box
      %h2 Strategies
      %ul
        - @character.strategies.each do |s|
          %li
            = link_to s.title, s
            by
            = link_to s.creator.name.titleize, s.creator
  .box
    %h2 Write Strategy
    - if active_player
      = render :partial => 'strategy_posts/form', :locals => {:post => @post}
    - else
      = link_to "Register in order to contribute articles!", login_path
