= content_for :header do
  %h1= @character.name.titleize
%table.characters
  - Character.all.each do |c|
    = link_to image_tag("character-icons/#{c.name.downcase}.png", :class => 'thumbnail'), c
%h2 
  - if @character.games.count > 0
    Win Rate: #{(@character.wins.count * 100.0 / @character.games.count).to_i}%
  - else
    No games played.
%h2 
  -if @character.wins.count > 0
    Best Matchup: #{@best_matchup.name.titleize}
  - else
    No wins yet.