= content_for :header do
  %h1= @character.name.titleize
%table.characters
  - Character.all.each do |c|
    = link_to image_tag("character-icons/#{c.name.downcase}.png", :class => 'thumbnail'), c
.column
  = image_tag("character-icons/#{@character.name}.png", :class => "portrait")
.column
  .box
    %h2 Statistics
    %table.stats
      %tr
        %th Win Rate:
        - if @character.games.count > 0
          %td= (@character.wins.count * 100.0 / @character.games.count).to_i
        - else
          %td No games played.
      %tr
        %th Best Matchup
        - if @character.wins.count > 0
          %td= @best_matchup.name.titleize
        - else
          %td No wins yet.
      %tr
        %th Strategy Guide
        - if @character.link
          %td= link_to "Strategy Guide", @character.link
        - else
          %td N/A
  / .box
  /   %h2 Character Information
  /   - if @character.cards.empty?
  /     We are very sorry - information for this character is coming soon.
  /   - else
  /     %table.cards
