= content_for :header do
  %h1= "#{@character.name.titleize} vs #{@vs.name.titleize}"
%table.characters
  - Character.all.each do |c|
    = link_to image_tag("character-icons/#{c.name.downcase}.png", :class => 'thumbnail draggable', :characterId => c.id), c
.column
  = link_to image_tag("character-icons/#{@character.name}.png", :class => "portrait droppable", :id => "char-drop-one"), @character
  = link_to image_tag("character-icons/#{@vs.name}.png", :class => "portrait droppable", :id => "char-drop-two"), @vs
  :javascript 
    $(function() {
      $('.draggable').draggable({
        zIndex: 2000, 
        helper:"clone"
      });
      $('#char-drop-two').droppable({
        drop: function( event, ui ) {
          var characterId = $(ui.draggable.get(0)).attr('characterId');
          window.location = '#{versus_character_path(@character.id,"'+characterId+'")}'
        }
      })
      $('#char-drop-one').droppable({
        drop: function( event, ui ) {
          var characterId = $(ui.draggable.get(0)).attr('characterId');
          window.location = '#{versus_character_path("'+characterId+'", @vs.id)}'
        }
      })
    })

.column
  .box
    %h2 Statistics
    %table.stats
      %tr
        %th Win Rate:
        - if @character.matches.where(:league_id => active_league.id).count > 0
          %td= (@character.wins.where(:league_id => active_league.id).count * 100.0 / @character.matches.where(:league_id => active_league.id).count).to_i
        - else
          %td No matches played.
        - if @vs.matches.where(:league_id => active_league.id).count > 0
          %td= (@vs.wins.where(:league_id => active_league.id).count * 100.0 / @vs.matches.where(:league_id => active_league.id).count).to_i
        - else
          %td No matches played.
      %tr
        %th Best Matchup:
        - if @character.wins.where(:league_id => active_league.id).count > 0
          %td= @character.best_matchup(active_league).name.titleize
        - else
          %td No wins yet.
        - if @vs.wins.where(:league_id => active_league.id).count > 0
          %td= @vs.best_matchup(active_league).name.titleize
        - else
          %td No wins yet.
      %tr
        %th Strategy Guide:
        - if @character.link
          %td= link_to "Strategy Guide", @character.link
        - else
          %td N/A
        - if @vs.link
          %td= link_to "Strategy Guide", @vs.link
        - else
          %td N/A
  - if @character.matches_against(@vs).where(:league_id => active_league.id).count > 0
    .box
      %h2 Recent Matches
      %ul
        - @character.matches_against(@vs).where(:league_id => active_league.id).recent.each do |match|
          %li= character_vs_link match
  - if @character.matchup_strategies(@vs).any?
    .box
      %h2 Strategies
      %ul
        - @character.matchup_strategies(@vs).each do |s|
          %li
            = link_to s.title, s
            by
            = link_to s.creator.name.titleize, s.creator
  .box
    %h2 Write Strategy
    = render :partial => 'strategy_posts/form', :locals => {:post => @post}