= content_for :header do
  %h1= "#{@player.name.titleize} (#{@player.rating})"
%h2 
  - if @player.matches.count > 0
    Win Rate: #{(@player.wins.count * 100.0 / @player.matches.count).to_i}%
  - else
    No games played.
- if @player.matches.count > 0
  .box
    %h2 Recent Games (of #{@player.matches.count} total)
    %ul
      - @player.matches.recent.each do |match|
        %li= player_match_link @player, match
