= content_for :header do
  %h1 Record Match
.box.centered
  = form_for @match do |f|
    %p
      = f.text_field(:creator_name, :disabled => true)
      = f.hidden_field(:creator)
      = f.collection_select(:creator_character, Character.all, :id, :name)
      Winner?
      = f.check_box :creator_is_winner
    %p VS.
    %p
      = f.collection_select(:opponent, @opponents, :id, :name)
      = f.collection_select(:opponent_character, Character.all, :id, :name)
      Winner?
      = check_box_tag 'creator-loser-checkbox'
    %br/
    %p= f.submit
    
:javascript
  $(function() {
    var $win = $('#match_creator_is_winner')
    var $lose = $('#creator-loser-checkbox')
    $win.on('change', function() {
      $lose.prop('checked', !$win.prop('checked'))
    })
    $lose.on('change',function() {
      $win.prop('checked', !$lose.prop('checked'))
    })
    $('form').on('submit', function() {
      return $win.prop('checked') || $lose.prop('checked')
    })
  })