!!!
%html
  %head
    %title Battlecon - #{active_league.name}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      .content
        = yield :header
    .nav
      .content
        = link_to "Matchups", dashboard_path
        = link_to "Rankings", rankings_path
        - if active_player
          = link_to "Profile", active_player
          = link_to "Record Play", new_match_path
          = link_to "Logout", logout_path
        - else
          = link_to "Login/Register", login_path
    .content    
      = yield